.yearText {
  @apply font-['Wt-ClearText-Bold'] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center;
  font-size: 4vw;
  line-height: 1.5;
  font-weight: 700;
}

.yearTextLogo {
  @apply font-['JW-Icons'] absolute;
  bottom: 12vh;
  right: 14vh;
  height: 12vh;
  width: 12vh;
  color: black !important;
  font-size: 16vh;
  line-height: 1;
  box-sizing: unset;
  border: rgba(255, 255, 255, 0) 1.5vh solid;
  background: rgba(255,255,255,.2);
  overflow: hidden;

}
.yearTextLogoInner {
  margin: -2.5vh -2vh;
}

.bibleTextBackground {
  @apply absolute top-0 right-0 bottom-0 left-0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bibleTextWrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @apply py-64 pr-96 pl-0 w-5/6 max-h-full overflow-y-auto pointer-events-auto;
}

.bibleText {
  @apply text-6xl leading-snug;
  color: #fff;
  font-family: 'Athelas';
  --text-shadow-color: rgba(0,0,0,0.25);
  text-shadow: 1px 1px 2px var(--text-shadow-color);

  h2 {
    @apply mb-6 text-6xl uppercase;
    color: #8db2d9;
    font-family: 'Wt-ClearText-Medium';

    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      @apply mt-6;
      background-color: #fff6;
    }
  }

  sup {
    @apply inline-block -top-2 ml-1 mr-3 font-medium font-sans text-4xl align-super;
  }

  h2 + sup,
  br + sup {
    @apply ml-16;
  }
}

.cleaningGroup {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center flex flex-col;
  font-size: 4vw;
  line-height: 1.25;
  font-weight: 700;

  hr {
    width: 50%;
    margin: 1em auto;
  }

  ul {
    margin: 0 auto;
  }

  small {
    display: block;
    font-size: 0.65em;
    font-weight: 300;
  }
}