.yearText {
  @apply font-['Wt-ClearText-Bold'] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center;
  font-size: 4vw;
  line-height: 1.5;
  font-weight: 700;
}

.yearTextLogo {
  @apply font-['JW-Icons'] absolute;
  bottom: 12vh;
  right: 14vh;
  height: 12vh;
  width: 12vh;
  color: black !important;
  font-size: 16vh;
  line-height: 1;
  box-sizing: unset;
  border: rgba(255, 255, 255, 0) 1.5vh solid;
  background: rgba(255,255,255,.2);
  overflow: hidden;

}
.yearTextLogoInner {
  margin: -2.5vh -2vh;
}

.bibleTextWrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @apply p-64 pl-0 w-11/12 max-h-full overflow-y-auto pointer-events-auto;
}

.bibleText {
  --text-shadow-color: rgba(0,0,0,0.25);
  text-shadow: 1px 1px 2px var(--text-shadow-color);
  @apply text-6xl font-normal leading-normal;

  h2 {
    @apply mb-8 text-6xl text-black font-semibold;
  }

  sup {
    @apply ml-1 mr-3 font-semibold text-zinc-500;
  }

  h2 + sup,
  br + sup {
    @apply ml-16;
  }
}

.cleaningGroup {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center flex flex-col;
  font-size: 4vw;
  line-height: 1.25;
  font-weight: 700;

  hr {
    width: 50%;
    margin: 1em auto;
  }

  ul {
    margin: 0 auto;
  }

  small {
    display: block;
    font-size: 0.65em;
    font-weight: 300;
  }
}