@import "preflight.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply flex-1 flex flex-col text-left;

    & > span {
      @apply block text-xs leading-3 opacity-70;
    }
  }
  input, select, textarea {
    @apply items-center p-2 px-4 pl-0 bg-transparent border-b;

    &:disabled {
      @apply opacity-60;
    }
  }
  input, textarea {
    @apply appearance-none outline-none pl-1;
  }
  select {
    & option {
      @apply dark:text-zinc-50 dark:bg-zinc-800;
    }
  }
  button {
    appearance: none;
  }
}

:root {
  color-scheme: dark;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.app-draggable-on {
  -webkit-app-region: drag;
}

.app-draggable-off {
  -webkit-app-region: no-drag;
}

.icon-shadow {
  @apply drop-shadow;
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.4)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.75)) drop-shadow(0 0 5px rgb(0 0 0 / 0.25));
}

body.sorting {
  * {
    cursor: grabbing !important;
  }
}

.floating-icon-button {
  @apply flex items-center justify-center size-[56px] rounded-full bg-slate-800 hover:bg-slate-700 active:bg-slate-900 text-white transition-colors;
}

.floating-icon-button-wrapper {
  @apply appearance-none bg-transparent flex flex-row items-center;
}

.floating-icon-button-label {
  @apply size-auto bg-slate-500 hover:bg-slate-700 py-1.5 pl-7 pr-4 -ml-5 -z-10 font-semibold whitespace-nowrap;
  text-shadow: 1px 1px 3px #000;
}