@font-face {
  font-family: Wt-ClearText-Bold;
  src: url("./assets/fonts/Wt-ClearText-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: JW-Icons;
  src: url("./assets/fonts/jw-icons-external.woff2");
}